/*Common*/
body
{
  margin:0;
  padding:0;
  border: 0;
  
  padding-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;

  font-family:Arial, Helvetica, sans-serif;
}
h1
{
  font-size: 15px;
  line-height: 25px;
  font-weight: normal;
  display: inline;
  margin: 0;
}
h2
{
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  display: inline;
  margin: 0;
}
h3
{
  font-size: 25px;
  line-height: 35px;
  font-weight: normal;
  display: inline;
  margin: 0;
}
h4
{
  font-size: 30px;
  line-height: 40px;
  font-weight: normal;
  display: inline;
  margin: 0;
}
h5
{
  font-size: 35px;
  line-height: 45px;
  font-weight: normal;
  display: inline;
  margin: 0;
}
h6
{
  font-size: 40px;
  line-height: 50px;
  font-weight: normal;
  display: inline;
  margin: 0;
}
h7
{
  font-size: 45px;
  line-height: 55px;
  font-weight: normal;
  display: inline;
  margin: 0;
}
h8
{
  font-size: 50px;
  line-height: 60px;
  font-weight: normal;
  display: inline;
  margin: 0;
}

.TopRibbon
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  height: 100px;
  align-items: center;

  background-color: #FFFFFF;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.TopRibbonText
{  
  margin-top: -5px;
  display: flex;
  height: 90px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;

  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: #1a1a1a;
}
.TopRibbonText:hover
{
  background-color: rgb(202, 202, 202);
}
/*------*/

/*-Home-*/
.home-poster
{
  background-color: rgb(255, 255, 245);
  margin: 0px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  vertical-align: middle;
  padding-left: 20px;
}
.home-start
{

  margin: 0px;
  padding-top: 100px;
  padding-bottom: 0px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.home-menutitle
{
  background-color: rgb(255, 245, 255);
  margin: 0px;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.home-menu
{
  background-color: rgb(245, 245, 255);
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  column-gap: 30px;

  @media (min-width: 1px) and (max-width: 817px){grid-template-columns: 1fr;}
  @media (min-width: 818px) and (max-width: 1191px){grid-template-columns: 1fr 1fr;}
  @media (min-width: 1192px) and (max-width: 1565px){grid-template-columns: 1fr 1fr 1fr;}
  @media (min-width: 1566px) and (max-width: 1939px){grid-template-columns: 1fr 1fr 1fr 1fr;}
  @media (min-width: 1940px) and (max-width: 2313px){grid-template-columns: 1fr 1fr 1fr 1fr 1fr;}
  @media (min-width: 2314px) and (max-width: 2687px){grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;}
  @media (min-width: 2688px) and (max-width: 3061px){grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;}
  @media (min-width: 3062px) and (max-width: 3435px){grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;}
  @media (min-width: 3436px) and (max-width: 3809px){grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;}
  @media (min-width: 3810px){grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;}
}
.home-menu-items
{
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.home-menu-items-img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-style: solid;
  border-width: 2px;
  border-color: #1a1a1a;
}
.home-projects
{
  background-color: rgb(245, 245, 255);
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  column-gap: 30px;

  @media (min-width: 1px) and (max-width: 1497px){grid-template-columns: 1fr;}
  @media (min-width: 1498px) and (max-width: 2211px){grid-template-columns: 1fr 1fr;}
  @media (min-width: 2212px) and (max-width: 2925px){grid-template-columns: 1fr 1fr 1fr;}
  @media (min-width: 2926px) and (max-width: 3639px){grid-template-columns: 1fr 1fr 1fr 1fr;}
  @media (min-width: 3640px) {grid-template-columns: 1fr 1fr 1fr 1fr 1fr;}
}
.home-projects-items
{
  padding: 20px;
  text-align: center;
}
.home-projects-items-img
{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 640px;
  width: 320px;
  object-fit:cover;
  border-style: solid;
  border-width: 2px;
  border-color: #1a1a1a;
}
.home-projects-items-video
{
  margin-left: auto;
  margin-right: auto;
  height: 360px;
  width: 640px;
  object-fit:cover;
  border-style: solid;
  border-width: 2px;
  border-color: #1a1a1a;
}
/*------*/

/*-Shop-*/
.shop-menu
{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  column-gap: 30px;
  justify-content: center;

  @media (min-width: 1px) and (max-width: 817px){grid-template-columns: 1fr;}
  @media (min-width: 818px) and (max-width: 1191px){grid-template-columns: 1fr 1fr;}
  @media (min-width: 1192px) and (max-width: 1565px){grid-template-columns: 1fr 1fr 1fr;}
  @media (min-width: 1566px) and (max-width: 1939px){grid-template-columns: 1fr 1fr 1fr 1fr;}
  @media (min-width: 1940px) and (max-width: 2313px){grid-template-columns: 1fr 1fr 1fr 1fr 1fr;}
  @media (min-width: 2314px) and (max-width: 2687px){grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;}
  @media (min-width: 2688px) and (max-width: 3061px){grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;}
  @media (min-width: 3062px) and (max-width: 3435px){grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;}
  @media (min-width: 3436px) and (max-width: 3809px){grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;}
  @media (min-width: 3810px){grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;}
}
.shop-menu-items
{
  text-align: center;
  background-color: rgb(244, 250, 255);
  padding: 20px;
  padding-top: 30px;
  border-radius: 20px;
}
.shop-menu-items:hover
{
  background-color: rgb(221, 240, 255);
}
.shop-menu-items-img
{
  height: 500px;
  width: 300px;
  object-fit:fill;
  border-style: solid;
  border-width: 2px;
  border-color: #1a1a1a;
}
.shop-jalispecification
{
  background-color: aliceblue;
  border-radius: 30px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.shop-jaliconfig
{
  background-color: rgb(195, 227, 255);
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  display: grid;
  grid-template-columns: 220px 1fr;

  align-items: baseline;
}
.shop-jaliconfig-options
{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.shop-jaliconfig-button
{
  display:inline-block;
  width: 220px;
  /*background-color: rgb(146, 228, 255);*/
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: black;

  position: relative;
}
.shop-jaliconfig-button:hover
{
  background-color: rgb(0, 191, 255);
}
.shop-jaliconfig-button-colorpatch
{
  position: absolute;
  top: 6px;
  right: 6px;

  width: 20px;
  height: 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: black;
}
.unselected
{
  background-color: rgb(146, 228, 255);
}
.unselected:hover
{
  background-color: rgb(0, 191, 255);
}
.selected
{
  background-color: rgb(255, 153, 0);
}
.selected:hover
{
  background-color: rgb(255, 115, 0);
}
/*------*/

/*Career*/
.career-opennings
{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  background-color: lightgray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 10px;
}
/*------*/

/*Contact*/
.contact-personnels
{
  margin-top: 10px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}
.contact-VC
{
  margin: 20px;
  padding: 10px 20px;
  background-color: #c4e1f69e;
  border-radius: 10px;
  display: inline;
  position: relative;
}
.contact-VC-name
{
  color:rgb(255, 0, 0);
}
.contact-VC-designation
{
  color:rgb(11, 181, 62);
}
.contact-VC-phonecolor
{
  color: rgba(0, 0, 0, 0.6);
}
.contact-VC-rolecolor
{
  color:rgba(0, 0, 0, 0.6);
}
.contact-VC-img
{
  width: 50px;
  height: 50px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 25px;
}
/*------*/

/*-Cart-*/
.cart
{
  display: flex;
  margin: auto;
  padding-top: 300px;
  justify-content: center;
  text-align: center;
}
/*------*/